</div>
</main>
</body>

<footer class="text-center">
  <div> <i class="far fa-copyright mb-4"></i> Copyright 2021 Matias Gonzalez</div>
  <div class="mb-4">
    <a href="https://www.linkedin.com/in/mg2006">
      <div class="rounded-pill btn btn-outline-dark  fw-bold social-btn"><i class="fab fa-linkedin-in"></i> LinkedIn
      </div>
    </a>
    <a href="https://github.com/PhantomMG">
      <div class="rounded-pill btn btn-outline-dark  fw-bold social-btn"><i class="fab fa-github"></i> Git-hub</div>
    </a>
  </div>
</footer>

</html>